<svg style="display: none;">
        <symbol id="icon-map" viewBox="0 0 32 32">
            <path d="M16 18.667c2.941 0 5.333-2.392 5.333-5.333S18.941 8.001 16 8.001s-5.333 2.392-5.333 5.333 2.392 5.333 5.333 5.333m0-8c1.471 0 2.667 1.196 2.667 2.667S17.471 16.001 16 16.001s-2.667-1.196-2.667-2.667 1.196-2.667 2.667-2.667"/>
            <path d="M15.227 29.085a1.33 1.33 0 0 0 1.546 0c.405-.287 9.932-7.165 9.893-15.752 0-5.881-4.785-10.667-10.667-10.667S5.332 7.451 5.332 13.326c-.039 8.593 9.488 15.472 9.893 15.759zM16 5.333c4.412 0 8 3.588 8 8.007.028 5.917-5.851 11.231-8 12.973-2.148-1.744-8.028-7.059-8-12.98 0-4.412 3.588-8 8-8"/>
        </symbol>
    </svg>

    <div class="container">
        <div class="header">
            <div class="welcome">Welcome</div>
        </div>

        <div class="content-wrapper">
            <div class="text-content">
                <h1>OUR JOURNEY: PASSION FOR QUALITY COFFEE</h1>
            </div>

            <div class="right-content">
                <p class="description">
                    At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring 
                    you the finest coffee experiences, crafted with care and dedication. We are 
                    committed to sourcing high-quality beans and roasting them to perfection, 
                    ensuring each sip is a delight.
                </p>
                <a href="#" class="btn-location">
                    <span>Find location</span>
                    <svg class="icon-map" width="24" height="24">
                        <use href="#icon-map"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="image-container">
            <img src="welcome-img.jpg" alt="Приготування кави">
        </div>
    </div>
</body>
</html>